
.logo{
    position: fixed;
    left: 20px;
    width: 80px;

}
.avatar{
    position: fixed;
    right: 20px;
    width: 20px;

}
.NavBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}